#MyTitle{
    text-align: center;
    background-color: rgb(157, 167, 255);
    padding: 15px;
    border: 2px solid black;
    clear: right;
}

#MyFoot{
    text-align: center;
    background-color: rgb(157, 167, 255);
    padding: 15px;
    border: 2px solid black;
    clear: left;
}

#Adiv{
    background: rgb(101, 101, 250);
}

#Bdiv{
    background: rgb(103, 231, 199);
}

#Cdiv{
    background: rgb(101, 101, 250);
}

#Ddiv{
    background: rgb(103, 231, 199);
}

li{
    height: 35px;
    width: 70px;
    border: 2px dashed black;
    margin: 5px;
    padding: 5px;
    background-color: rgb(103, 182, 232);
}

.set{
    border: 2px solid black;
    margin: 2px 2px;
    padding:5px;
    width:200px;
    height: 350px;
    text-align: center;
    display: inline;
}

h1{
    text-align: center;
}


li:hover{
    background-color: rgb(164, 237, 255);
}

ul{
    list-style: none;
    display: block;
    text-align: center;
    margin: auto;
}

@media only screen and (min-width: 769px){
    .set{
        width:23%;
        display: inline-block;
        align-content: center;
        padding-left: 6px;
        margin: 1px auto;
    }
}

@media only screen and (max-width: 768px){
    .set{
        width: 47.7%;
        float: left;
        padding: 0px;
        margin: 0.5px
    }
    #Bdiv{
        clear:right;
    }
}

@media only screen and (max-width: 480px){
    .set{
        clear:both;
        width: 100%;
    }
}