#MyTitle {
  text-align: center;
  margin: 5px;
  background-color: rgb(157, 167, 255);
  padding: 15px;
  border: 2px solid black;
  clear: right;
}

#MyFoot {
  text-align: center;
  margin:5px;
  background-color: rgb(157, 167, 255);
  padding: 15px;
  border: 2px solid black;
  clear: left;
}


.set.A,
.set.C {
  background-color: aquamarine;
  margin: 5px;
  border: 2px solid black;
}

.set.B,
.set.D {
  background-color: rgb(135, 167, 255);
  margin: 5px;
  border: 2px solid black;
}



li {
  height: 35px;
  width: 70px;
  border: 2px dashed black;
  margin: 5px;
  padding: 5px;
  background-color: rgb(103, 182, 232);
}

h1 {
  text-align: center;
}

li:hover {
  background-color: rgb(164, 237, 255);
}

ul {
  list-style: none;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 769px) {
  .grid-container{
    display: flex;
    justify-content: center;
  }
  .A,
  .B,
  .C,
  .D {
    width: 25%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

  .A, .B, .C, .D{
    width: 46%;
  }
  .grid-container{
    display: flex;
    grid-auto-columns: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .set{
    margin: 10px;
  }

}

@media only screen and (max-width: 480px) {
  .set {
    clear: both;
    width: 95%;
  }
}